Desafío 1: Determinantes del ingreso

Preliminares:
Desarrollar un modelo predictivo sobre la probabilidad que un individuo presente salarios por sobre o por bajo los 50.000
dólares anuales, en base a una serie de atributos socioeconómicos.
Considerando que lo que queremos saber es si se gana sobre o bajo los 50.000 dólares, estaríamos hablando de una Clasificación. Podríamos decir que ganar sobre los 50.000 dólares anuales es 1 y por debajo de los 50.000 dólares anuales es 0. De esta manera estaríamos hablando de una primera aproximación mediante la binarización de nuestro problema a estudiar.

In [ ]:
#Aspectos computacionales:
%matplotlib inline
#Pandas y Numpy son las librerias con las que trabajamos el análisis de datos y todo lo relacionado con ciencias de datos
import pandas as pd
import numpy as np
#Con  scipy.stats podemos realizar los cálculos estadísticos que requerimos de forma automática
import scipy.stats as stats
#Matplotlib nos da las herramientas para realizar los gráficos
import matplotlib.pyplot as plt
#La libreria de statsmodels nos permite implementar la regresión utilizando el método de minimos cuadrados 
#(Ordinary Least Squares)
import statsmodels.api as sm
import statsmodels.formula.api as smf
#Con la libreria de Seaborn podemos graficar
import seaborn as sns
#Con warnings podemos ignorar los warnings de deprecación que nos puedan aparecer, de esta manera nos queda más limpio el notebook.
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

#Importamos las librerias de sklearn, y por separado el import de las metricas ( r2_score, mean_squared_error) y 
# del modelo (train_test_split)
#Estas librerias son las que utilizaré para generar la regresión lineal 
from sklearn import linear_model
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

plt.style.use('seaborn-whitegrid') # Gráficos estilo seaborn
plt.rcParams["figure.figsize"] = (6, 4) # Tamaño gráficos
plt.rcParams["figure.dpi"] = 100 # resolución gráficos

In [7]:
df= pd.read_csv('income-db.csv')

In [8]:
df.sample()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
42202,54,Private,146310,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K

In [9]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K